name: Deploy to R2

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: macos-latest
    name: Build and Upload
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies and Run
        env:
          R2_ACCOUNT_ID: ${{ secrets.R2_ACCOUNT_ID }}
          R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          R2_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          R2_BUCKET_NAME: ${{ secrets.R2_BUCKET_NAME }}
        run: |
          brew install create-dmg
          python3 -m venv venv
          source venv/bin/activate
          pip install boto3
          python3 scripts/deploy.py