name: Deploy to R2

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: macos-latest
    name: Build and Upload
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: brew install create-dmg

      - name: Run Build Script
        run: python3 scripts/deploy.py

      - name: Prepare Upload
        run: |
          mkdir -p deploy_dist
          mv purgemac.dmg deploy_dist/

      - name: Upload to Cloudflare R2
        uses: ryand56/r2-upload-action@latest
        with:
          r2-account-id: ${{ secrets.R2_ACCOUNT_ID }}
          r2-access-key-id: ${{ secrets.R2_ACCESS_KEY_ID }}
          r2-secret-access-key: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          r2-bucket: ${{ secrets.R2_BUCKET_NAME }}
          source-dir: deploy_dist
          destination-dir: ./
